.cadastro-container {
  background: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  padding: 20px;
}

.text-center {
  text-align: center;
}

.step {
  padding: 20px;
  margin-bottom: 20px;
}

.step h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #d26c24; /* Destaque no título */
}

.step-description {
  color: #ccc; /* Cor mais clara para descrição */
  margin: 10px 0;
  font-size: 0.9rem;
}

.orange-button {
  --background: #d26c24; /* Botão laranja escuro */
  --color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px; /* Arredondamento do botão */
  margin-top: 20px;
}

ion-item {
  --background: #222; /* Fundo cinza escuro */
  --color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

ion-label {
  font-size: 0.9rem; /* Ajusta tamanho da fonte */
}

.photos-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.photo-box {
  width: 100px;
  height: 100px;
  background-color: #222; /* Fundo cinza escuro */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 8px;
  transition: transform 0.3s; /* Efeito ao passar o mouse */
}

.photo-box:hover {
  transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
}

.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

ion-icon {
  font-size: 40px;
  color: #d26c24;
  cursor: pointer;
}

ion-button {
  margin-top: 20px;
  width: 100%; /* Botão ocupa toda a largura */
}

/* Responsividade */
@media (max-width: 768px) {
  .photos-container {
    flex-direction: column;
    align-items: center;
  }

  .photo-box {
    width: 100px;
    height: 120px;
  }
}

@media (max-width: 576px) {
  .step h2 {
    font-size: 1.5rem;
  }

  ion-input {
    width: 100%;
  }

  ion-button {
    width: 100%;
  }

  .orange-button {
    font-size: 0.9rem; /* Tamanho menor para telas pequenas */
  }
}

ion-button {
  margin-top: 20px;
  outline: none; /* Remove o contorno padrão */
  --box-shadow: none; /* Remove qualquer sombra ao focar */
}

ion-button:focus {
  outline: none; /* Remove o foco padrão */
  --box-shadow: none; /* Remove sombra no foco */
}

ion-icon {
  font-size: 40px;
  color: #d26c24; /* Cor do ícone */
  cursor: pointer;
}

.photo-box ion-button {
  --background: transparent; /* Fundo transparente */
  --ripple-color: transparent; /* Remove efeito de onda ao clicar */
  border: none; /* Remove bordas extras */
}


.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}
