<ion-menu content-id="tabs-content" side="start" menu-id="tabs-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Link para a página "Sobre Nós" -->
      <ion-item routerLink="/fotos" routerDirection="root">
        
        <ion-label>Sobre Nós</ion-label>
      </ion-item>

      

      <!-- Link para Sair -->
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-label>Sair</ion-label>
        </ion-button>
      </ion-buttons>
  
    </ion-list>
  </ion-content>
</ion-menu>


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botão para abrir o menu -->
      <ion-menu-button menu="tabs-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Unilab App</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Conteúdo principal associado ao menu -->
<ion-content id="tabs-content">
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <!-- Tab para Match -->
      <ion-tab-button tab="tab1" routerLink="/tabs/tab1" >
        <img src="assets/icons/Multi.png" alt="Match" style="width: 24px; height: 24px;">
        <ion-label>Match</ion-label>
      </ion-tab-button>

      <!-- Tab para Chats -->
      <ion-tab-button tab="tab2" routerLink="/tabs/tab2" >
        <img src="assets/icons/chat.png" alt="Chats" style="width: 24px; height: 24px;">
        <ion-label>Chats</ion-label>
      </ion-tab-button>

      <!-- Tab para Perfil -->
      <ion-tab-button tab="tab3" routerLink="/tabs/tab3" >
        <img src="assets/icons/perfil.png" alt="Perfil" style="width: 24px; height: 24px;">
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
