<ion-header>
  
  <ion-toolbar>
    <ion-title class="text-center">
      Bem-vindo à Unilab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container d-flex flex-column align-items-center justify-content-center text-center py-5 login-container">
    <img src="assets/logo.png" class="logo mb-4 img-fluid" alt="Logo">

    <ion-text class="h4 mb-2">Seja bem-vindo(a) à Unilab</ion-text>
    <ion-text class="mb-2">O aplicativo de relacionamentos Gamer</ion-text>
    <ion-text class="mb-4">Onde você pode encontrar seu Duo para jogar ou até mesmo sua alma gêmea</ion-text>

    <div class="d-flex gap-2">
      <ion-button expand="block" class="orange-button" [routerLink]="['/login']">
        Ir para Login
      </ion-button>

   
      
      
      
      
    </div>
  </div>
</ion-content>
